div.tweets-pulled-listing ul {
  list-style: none;
}

div.tweets-pulled-listing{
	background-color: 	#FFFFFF; 
	overflow:  			auto; 
	padding: 			8px;
	margin-bottom: 10px;
}

div.tweets-pulled-listing div.tweet-authorphoto {
/*	float: left;*/
}

div.tweets-pulled-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
  padding-bottom: 60px;
  padding-right:10px;
  float: left;
  
}

div.tweets-pulled-listing .tweet-author a {
  font-weight: bold;
}

div.tweets-pulled-listing  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}

div.tweets-pulled-listing ul, div.tweets-pulled-listing li {
	padding-left: 0px;
	margin: 0;
}

